.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.842);
}

.filters {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: .2rem solid red;
}

.drop-down-filter {
    width: 15%;
    padding: 10px;
    color: black;
}

.longer {
    width: 20%;
}

.date-input {
    width: 5%;
}

.shows {
    /* border: .2px solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.show {
    /* border: 2px solid blue; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
}

.rating {
    background-color: rgb(47, 255, 151);
    width: 40px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}

.bg-img {
    border-radius: 20px;
    width: 180px;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.show-type {
    background-color: rgb(229, 255, 0);
    width: 40px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}