.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    background-color: rgba(0, 0, 0, 0.842);
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 60px;
    /* border: .2rem solid red; */
}

.filters button {
    all: unset;
    font-weight: 600;
    padding: 10px;
    height: 50%;
    background-color: rgb(21, 204, 21);
    border-radius: 7px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.countries, .content-type, .sort-by, .start-year, .end-year {
    display: flex;
    flex-direction: column;
    border: .2px solid red;
    color: #fff;
}

.countries, .content-type, .sort-by {
    width: 25%;
}

.date-input {
    all: unset;
    border: 2px solid grey;
    padding: 10px;
    width: 10%;
    border-radius: 7px;
    color: #fff;
}

.shows {
    /* border: .2px solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.show {
    /* border: 2px solid blue; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
}

.rating {
    background-color: rgb(47, 255, 151);
    width: 40px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}

.bg-img {
    border-radius: 20px;
    width: 180px;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.show-type {
    background-color: rgb(229, 255, 0);
    width: 40px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}